@page "/"
@using FourPC.Client.Components.Chessboard
@using FourPC.Core.BoardGeneration
@using FourPC.Core.Chessboard

<div>
    <Chessboard BoardState="board"></Chessboard>
</div>

@code {
    private Board? board;

    protected override void OnInitialized()
    {
        board = BoardGenerator.GenerateInitial();
        base.OnInitialized();
    }
}